.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 256px;
  background-color: #2D323E !important;
  -webkit-box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1000;
}

.zone-container {
  margin: 20px;
}

.sidenav .mat-nav-list a .mat-icon {
  font-size: 16px;
}

.mat-list .mat-list-item, .mat-nav-list .mat-list-item, .mat-selection-list .mat-list-item {
  color: rgba(255, 255, 255, 0.87) !important;
}

.zone-menu {
  background-color: #2D323E !important;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
  color: rgba(255, 255, 255, 0.87) !important;
}

.zone-menu-top {
  -webkit-box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}
